{% extends 'support/base.html' %}

{% block title %}Create User | Support Portal{% endblock %}

{% block content %}
  <section class="panel">
    <h1>Create User</h1>
    <form method="post" class="form-stack">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <label>
        Username
        {{ form.username }}
      </label>
      <label>
        Email
        {{ form.email }}
      </label>
      <label>
        Role
        {{ form.role }}
      </label>
      <label>
        Password
        {{ form.password1 }}
      </label>
      <label>
        Confirm Password
        {{ form.password2 }}
      </label>
      <button type="submit" class="button">Create user</button>
    </form>
  </section>
{% endblock %}
